<div class="perfil">
  <h2>Meu Perfil</h2>

  <div class="perfil-info">
    <div class="info-item">
      <label>Nome</label>
      <span>{{ user.nome }}</span>
    </div>
    <div class="info-item">
      <label>Email</label>
      <span>{{ user.email }}</span>
    </div>
    <div class="info-item">
      <label>CPF</label>
      <span>{{ user.cpf }}</span>
    </div>
    <div class="info-item">
      <label>Telefone</label>
      <span>{{ user.telefone }}</span>
    </div>
    <div class="info-item">
      <label>Data de Nascimento</label>
      <span>{{ user.dataNascimento }}</span>
    </div>
  </div>
</div>